.main-heading {
	text-align: center;
}

.main-div {
	display: flex;
	margin-bottom: 50px;
	flex-wrap: wrap;
}

/* .ui.card [class*="right floated"], .ui.cards>.card [class*="right floated"]{
    float: left;
}

.ui.cards>.card {
    margin: 3rem;
} */
